*{
margin: 0; 
padding: 0; 
} 
ul{ 
list-style-type: none;
 margin: 0; 
padding: 0; 
overflow: hidden;
background-color: rebeccapurple; 
} 
li{ float: left; 
}
li a{ display: block; color: lawngreen; text-align: center; padding: 14px 16px; text-decoration: none; } li a:hover { background-color: #111; } 
.all-browsers { margin: 0;
padding: 5px; background-color: lightgray; 
}
.all-browsers > h1, .browser { margin: 10px; padding: 5px; } 
.browser {
background: white; } browser > h2, p{ margin: 4px; font-size: 90%; } footer { position: fixed; left: 0; bottom: 0;
width: 100%; color: white; text-align: center; background-color: chocolate;}